body {
}


td.pref {
    font-weight: bolder;
    font-size: 10pt;
    color: black;
    font-family: Arial;
    background-color: #7C99BB
}

td.prefleft {
    font-size: 10pt;
    color: black;
    font-family: Arial;
    text-align: left;
}

.codeHeader {
    font-family: "Arial";
    color: "blue";
}

.pageHeader {
    font-family: "Arial";
    color: "black";
}

.code {
    font-family: "Tahoma";
    font-size: 10pt;
    border: 1px solid Black;
    background: rgba(255,255,255,0.5);
    padding: 30px;
    margin: 20px;
}
